body {
  background-color: black;
  color: white;
  font-family: sans-serif;
}

h2 {
  display: inline-block;
}

.container {
  padding: 40px;
}

.game-container {
  width: 600px;
  height: 600px;
}

.game {
  width: 100%;
  height: 100%;
  background-color: #222;
  position: relative;
}

.player {
  width: 10%;
  height: 10%;
  background-color: red;
  position: absolute;
  left:0%;
  top:0%;
  transition: all 0.3s ease;
  box-shadow: 0 0 5px black inset;
}

.obstacle {
  width: 10%;
  height: 10%;
  background-color: #aaa;
  position: absolute;
  left:0%;
  top:0%;
}

.item {
  width: 10%;
  height: 10%;
  background-color: rgba(26, 175, 26,0.3);
  position: absolute;
  left:0%;
  top:0%;
}

.reset-btn {
  display: inline-block;
  background-color: black;
  color: white;
  box-shadow: 2px 2px red;
  position: relative;
  left: 20px;
  top: -5px;
}